<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-sm-12 col-md-12">
		<div class="row section">
            <div class="form-group col-md-6">
                <label for="inputTitle"><span style="color:red">*</span>故障码</label>
                <input type="text"  name="code" required="required" maxlength="5" class="form-control" id="inputTitle" style="cursor:auto;"
                pattern="^\d+$"  placeholder="请输入整数" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputTitle"><span style="color:red">*</span>故障描述</label>
                <input type="text" th:field="*{decription}" required="required" maxlength="20"  placeholder="最多输入20个字" class="form-control" id="inputTitle" style="cursor:auto;"/>
            </div>
              <div class="form-group custom-input col-md-3">
                            <label for="inputStatus1" class="form-control-label">告警级别</label>
                            <select class="form-control" id="eventType"  name="eventLevel">
                                <option th:each="o : ${eventLevels}"
                                		th:value="${o.dictValue}"
                                		th:text="${o.descr}">		
                                </option>
                            </select> 
                        </div>
                        
              <div class="form-group custom-input col-md-3">
                            <label for="inputStatus1" class="form-control-label">告警类型</label>
                            <select class="form-control" id="eventType"  name="eventType">
                                <option th:each="o : ${eventTypes}"
                                		th:value="${o.dictValue}"
                                		th:text="${o.descr}">		
                                </option>
                            </select> 
                        </div>
                   
            <div class="form-group col-md-12" id="content-checked">
                <label for="inputTitle"><span style="color:red">*</span>状态</label>
				<input  value="1" name="isActive" type="radio" id="input1"  style="margin-left:20px;margin-right:5px;" checked="checked"/>有效
				<input  value="0" name="isActive" type="radio" id="input2"  style="margin-left:20px;margin-right:5px;"/>无效   
            </div>
            <div class="form-group col-md-12">
                <label for="inputTitle">备注</label>
                <textarea class="form-control" th:field="*{remark}"   placeholder="最多输入500个字" id="inputDescription" maxlength="500" style="cursor:auto;" 
         				></textarea>
            </div>
		</div>
	</div>
	
</body>

		  
</html>
