<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-sm-12 col-md-12">
		<div class="row section">
            <div class="form-group col-md-6">
                <label for="inputTitle"><span style="color:red">*</span>故障码</label>
                <input type="text" th:field="*{code}"  required="required" readonly="readonly"  maxlength="5" class="form-control" id="inputTitle" style="cursor:auto;" 
                 placeholder="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputTitle"><span style="color:red">*</span>故障描述</label>
                <input type="text" th:field="*{decription}" required="required" maxlength="20" class="form-control" id="inputTitle"
                       style="cursor:auto;"  placeholder=""/>
            </div>
           <div class="form-group custom-input col-md-3">
                            <label for="inputStatus1" class="form-control-label"><span style="color:red">*</span>告警级别</label>
                            <select class="form-control" id="eventLevel"  name="eventLevel">
                                <option th:each="o : ${eventLevels}"
                                		th:value="${o.dictValue}"
                                		th:text="${o.descr}"
                                		th:selected="${eventCode.eventLevel == o.dictValue}">
                                </option>
                            </select> 
                        </div>
                        <div class="form-group custom-input col-md-3">
                            <label for="inputStatus1" class="form-control-label"><span style="color:red">*</span>告警类型</label>
                            <select class="form-control" id="inputStatus1"  name="eventType" >
                                <option th:each="o : ${eventTypes}"
                               			 th:value="${o.dictValue}"
                               			 th:text="${o.descr}"
                               			 th:selected="${eventCode.eventType == o.dictValue}">
                                </option>
                            </select>
                        </div>  
                   
            <div class="form-group col-md-12" id="content-checked">
            	<input type="hidden" id="inputHiddenStatus" th:value="${eventCode.isActive()}" />
                <label for="inputTitle"><span style="color:red">*</span>状态</label>
				<input  value="1" name="isActive" type="radio" id="input1"  style="margin-left:20px;margin-right:5px;" />有效
				<input  value="0" name="isActive" type="radio" id="input2"  style="margin-left:20px;margin-right:5px;"/>无效   
            </div>
            <div class="form-group col-md-12">
                <label for="inputTitle">备注</label>
                <textarea class="form-control" th:field="*{remark}" id="inputDescription" maxlength="500" style="cursor:auto;" 
         				placeholder=""></textarea>
            </div>
		</div>
	</div>
	
</body>

		  
</html>