<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">
<head><title>查看设备参数下发</title></head>
<body class="bg">
<div layout:fragment="content" id="content">
    <ol class="breadcrumb">
        <li><a th:href="@{/admin/}">首页</a></li>
        <li><a th:href="@{/admin/paramSettings/}">设备中心</a></li>
        <li><a th:href="@{/admin/paramSettings/}">充电桩设置</a></li>
        <li><a th:href="@{/admin/paramSettings/}">设备参数下发</a></li>
        <li class="active">查看设备参数下发</li>
    </ol>

    <form role="form" action="#" method="post"
          th:action="@{/admin/paramSettings/{id}(id=${paramSetting.id})}" th:object="${paramSetting}">
		
        <div class="panel">
            <div role="tabpanel" class="panel-tabs">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">查看设备参数下发</a></li>
                </ul>
            </div>

            <div class="panel-body" th:include="admin/paramSetting/checkform"></div>
            <div class="panel-footer">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-right">
                            <a class="btn btn-query btn-primary back-btn-id" href="index.html"
                               th:href="@{/admin/paramSettings/search}" style="padding-top:4px">返回</a>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </form>
<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
 <script>
 $(document).ready(function() {
     $("#aa-a").addClass("active");
		$("#aa-a1").addClass("in").attr("aria-expanded","true");
		$("#aa-b").addClass("active");
		$("#aa-b1").addClass("in").attr("aria-expanded","true");
		$("#aa-c1").addClass("active");
 })
</script>
</div>
</body>
</html>